<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>BMI</title>

	<style>
		body {
			padding-top: 30px;
			padding-left: 9%;
			padding-right: 9%;
			padding-bottom: 24px;
      letter-spacing: 1px;
      font: 1.2em sans-serif !important;
		}
    h1 {
      font-size: 3em !important;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.1em !important;
      letter-spacing: 1px;
    }
    label {
      font-size: 1.0em !important;
    }
		input[type=text]
		{
		  background-color: transparent; 
			border-style: solid; 
			border-width: 0px 0px 1px 0px; 
			border-color: black;
		}
		input:focus
		{ 
			outline: 0;
		}
		form {
      padding: 2px;
			padding-top: 16px;
		}
    .form_design {
      background-color: rgb(249,249,249);
    }

    .selected {
      fill: #ff7f0e;
      stroke: #ff7f0e;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
    }

    .dot {
      stroke: none;
    }

    .q0-9 { fill: #b1ddff; }
    .q1-9 { fill: #0092ff; }
    .q2-9 { fill: #ffd3b1; }
    .q3-9 { fill: #ffb076; }
    .q4-9 { fill: #ff6d00; }
	</style>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/js/bootstrap.min.js" >
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<!--  -->
<body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

<!-- <h1 style="background-color:black;">.</h1> -->
<h1> Body Fat</h1> 

<p style="padding-top:24px; padding-bottom:4px;"> 
  <span style="font-weight:bold;">Your body fat  </span> 
  can be measured based on your height and weight as Body Mass Index (BMI).  BMI is one indicator of potential health risks associated with being overweight or obese.</p>

<form class="form-horizontal form_design" role="form" >

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:normal;">Height (cm)</label>
    <div class="col-sm-1">
      <input type="text"  id="myheight" style="width:120px;font-size:1em;">
    </div>

    <label class="col-sm-2 control-label" style="font-weight:normal;">Weight (kg)</label>
    <div class="col-sm-1">
      <input type="text" id="myweight" style="width:120px;ont-size:1em;">
    </div>

    <div class="col-sm-offset-1 col-sm-1">
      <button onclick="getBMI()" type="button" class="btn btn-xs btn-default" style="padding-left:10px; padding-right:10px;">submit</button>
    </div>

<!--     <div class="col-sm-2">
      <input type="text" id="mybmi" style="width:120px;">
    </div> -->
  </div>
</form>

<!--  -->
<br>
<div id = "mybmiG"></div>

<!--  -->
<br><br>
<p><span style="font-weight:bold;">Percent of Obese (BMI >30) in U.S.</span>
during 1995 - 2012</p>


<!--  -->
<form class="form-horizontal" role="form" style="padding: 2px;">
  <div class="form-group">
      <!-- <div class="form-group"> -->
<!--     <label class="col-sm-2 control-label" style="font-weight:normal;">Year: </label> -->
    <div class="col-sm-1">
      <br><br>
      <input type="text"  id="myyear" style="width:120px; border-width: 0px 0px 0px 0px; font-size: 34px; letter-spacing:2px;"> 
      <br><br>
      <button onclick="getYear()" type="button" class="btn btn-xs btn-default" style="padding-left:10px; padding-right:10px;">year</button>
    </div>

<!--     <div class="col-sm-1">
      <button onclick="getYear()" type="button" class="btn btn-xs btn-default" style="padding-left:10px; padding-right:10px;">year</button>
    </div> -->

  <!-- </div> -->

    <div class="col-sm-5">
      <div id = "usbmiG"></div> 
    </div>

    <div class="col-sm-6">
      <div id = "scatterG"></div> 
    </div>

  </div>
</form>

<!-- <form class="form-horizontal" role="form" >
  <div class="form-group">
    <div class="col-sm-1">
      <input type="text"  id="myyear" style="width:120px;">
    </div>

    <div class="col-sm-offset-1 col-sm-1">
      <button onclick="getYear()" type="button" class="btn btn-xs btn-default" style="padding-left:10px; padding-right:10px;">submit</button>
    </div>
  </div>
</form> -->

<!--  -->
<script src="/js/bmi.js"></script>
<script src="/js/barGraph.js"></script>
<!-- <script src="/js/us_obesity_trend.js"></script> -->
<script src="/js/us_obesity_trend2.js"></script>
<!-- <script src="/js/us_obesity.js"></script> -->
<link href="/css/us_obesity.css" rel="stylesheet">
<!-- <script src="/js/year.js"></script> -->

</body>
